<div class="collection-container">
  <div class="collection-body">
    <div class="collection-body-heading">
      <div>
        <%= link_to 'Back', :back, class: 'back_button' %>
      </div>
      <div>
        <h1><strong><%= @subscription.user.first_name %></strong></h1>
        <%= link_to "https://wa.me/#{@subscription.user.phone_number}" do %>
          <i class="fa-brands fa-whatsapp" style="font-size: 30px"></i>
        <% end %>
      </div>
    </div>
    <div class="collection-address">
      <strong>
        <p>Address:</p>
      </strong>
      <p><%= @subscription.street_address %></p>
      <% if @subscription.access_code %>
        <p>Access code: <%= @subscription.access_code %></p>
      <% end %>
    </div>
    <% if @collection.kiki_note %>
      <strong>
        <p class = "collection-address">Kiki's note: <%= @collection.kiki_note %></p>
      </strong>
    <% end %>
    <% if @collection.needs_bags&. > 0 %>
      <p class = "collection-address"> Drop off <%= @collection.needs_bags %> rolls of bags</p>
    <% end %>
    <% if @collection.new_customer %>
      <%= simple_form_for [@collection] do |f| %>
        <% if @collection.subscription.XL? %>
          <%= f.input :buckets, placeholder: "0" %>
        <% else %>
          <%= f.input :bags, label: "Number of bags collected", placeholder: "0" %>
        <% end %>
        <%#= f.input :new_customer, as: :boolean, label: "Dropped off", checked_value: 'negative', unchecked_value: 'positive' %>
        <%= f.input :alfred_message, as: :text, label: "Message for Kiki" %>
        <!-- Hidden field for start_time -->
        <%= f.hidden_field :time, value: Time.current %>
        <%= f.hidden_field :new_customer, value: false %>
        <%= f.submit 'Dropped Off!', class: 'gooi-button' %>
      <% end %>
    <% elsif @collection.subscription.user.drop_off? %>
      <%= simple_form_for [@collection] do |f| %>
        <%= f.input :skip %>
        <%= f.input :dropped_off_buckets, placeholder: "0" %>
        <%= f.input :alfred_message, as: :text, label: "Message for Kiki" %>
        <!-- Hidden field for start_time -->
        <%= f.hidden_field :time, value: Time.current %>
        <%= f.submit 'Done!', class: 'gooi-button' %>
      <% end %>
    <% else %>
      <%= simple_form_for [@collection] do |f| %>
        <%= f.input :skip %>
        <%= f.input :needs_bags, label: "Number of rolls needed", placeholder: "0" %>
        <% if @subscription.standard? %>
          <%= f.input :bags, label: "Number of bags collected", placeholder: "0" %>
        <% elsif @subscription.XL? %>
          <%= f.input :buckets, label: "Number of buckets collected", placeholder: "0" %>
        <% end %>
        <%= f.input :alfred_message, as: :text, label: "Message for Kiki" %>
        <!-- Hidden field for start_time -->
        <%= f.hidden_field :time, value: Time.current %>
        <%= f.submit 'Done!', class: 'gooi-button' %>
      <% end %>
    <% end %>
  </div>
</div>
