
<div class = 'background'>

  <div class="collection-container">
    <div class="collection-body">
      <%= link_to 'Back', :back, class: 'back_button' %>
      <p class = "collection-header"><strong><%= @subscription.user.first_name %></strong></p>
      <p class = "collection-address"><%= @subscription.street_address %></p>
      <br>
      <%= simple_form_for [@collection] do |f| %>

        <%#= f.input :bucket_quantity, as: :integer, label: "Bags/Buckets" %>
        <%= f.input :bucket_quantity, as: :radio_buttons, collection: [0, 1, 2, 3, 4, 5, 6], label: "Bags/Buckets" %>
        <%= f.input :note, as: :text, class: 'test_input' %>

        <%= f.submit 'Done!', class: 'collect-button' %>
      <% end %>
    </div>
  </div>
</div>
