<div class="collection-container">
  <div class="collection-body">
    <!--div containing back and whatsapp button-->
    <div class="collection-body-heading">
      <div>
        <%= link_to 'Back', :back, class: 'small-yellow-btn' %>
      </div>
      <div>
        <h1><strong><%= @subscription.user.first_name %></strong></h1>
        <%= link_to "https://wa.me/#{@subscription.user.phone_number}" do %>
          <i class="fa-brands fa-whatsapp" style="font-size: 30px"></i>
        <% end %>
      </div>
    </div>
    <!--div containing collection details-->
    <div class="collection-notes">
      <!--<h2><strong><%#= "Give 🥬" if @collection.wants_veggies  %></strong></h2>-->
      <%# if @collection.needs_bags&. > 0 %>
      <strong>
        <p class = "collection-notes"> Drop off <%= @collection.needs_bags %> rolls of bags</p>
      </strong>
      <% if @collection.soil_bag&. > 0 %>
        <strong>
          <p class = "collection-notes"> Drop off <%= @collection.soil_bag %> bags of soil</p>
        </strong>
      <% end %>
      <strong>
        <p>Address:</p>
      </strong>
      <p><%= @subscription.street_address %></p>
      <% if @subscription.access_code %>
        <p>Access code: <%= @subscription.access_code %></p>
      <% end %>
      <% unless @collection.kiki_note_nil_zero? %>
        <strong>
          <p class = "collection-notes">Kiki's note:</p>
        </strong>
        <p><%= @collection.kiki_note %></p>
      <% end %>
      <% if @collection.subscription.user.drop_off? %>
        <strong>
          <p>Do we need to buy soil for anyone?</p>
        </strong>
      <% end %>
    </div>
    <!--div containing forms-->
    <% if @collection.new_customer %>
      <%= simple_form_for [@collection] do |f| %>
        <% if @collection.subscription.XL? %>
          <%= f.input :buckets, placeholder: "0" %>
        <% else %>
          <%= f.input :bags, label: "Number of bags collected", placeholder: "0" %>
        <% end %>
        <%#= f.input :new_customer, as: :boolean, label: "Dropped off", checked_value: 'negative', unchecked_value: 'positive' %>
        <%= f.input :alfred_message, as: :text, label: "Message for Kiki" %>
        <%#= f.input :wants_veggies %>
        <!-- Hidden field for start_time -->
        <%= f.hidden_field :time, value: Time.current %>
        <%= f.hidden_field :new_customer, value: false %>
        <div class="text-center">
          <%= f.submit 'Dropped Off!', class: 'submit-btn' %>
        </div>
      <% end %>
    <% elsif @collection.subscription.user.drop_off? %>
      <%= simple_form_for [@collection] do |f| %>
        <%= f.input :skip %>
        <%#= f.input :wants_veggies %>
        <%= f.input :dropped_off_buckets, placeholder: "0" %>
        <% if current_user.admin? %>
          <%= f.input :kiki_note, as: :text, label: "Message for Alfred" %>
        <% end %>
        <%= f.input :alfred_message, as: :text, label: "Message for Kiki" %>
        <!-- Hidden field for start_time -->
        <%= f.hidden_field :time, value: Time.current %>
        <div class="text-center">
          <%= f.submit 'Done!', class: 'submit-btn' %>
        </div>
      <% end %>
    <% else %>
      <%= simple_form_for [@collection] do |f| %>
        <%= f.input :skip %>
        <%#= f.input :wants_veggies %>
        <%= f.input :needs_bags, label: "Number of rolls needed", placeholder: "0" %>
        <% if @subscription.Standard? %>
          <%= f.input :bags, label: "Number of bags collected", placeholder: "0" %>
        <% elsif @subscription.XL? %>
          <%= f.input :buckets, label: "Number of buckets collected", placeholder: "0" %>
        <% end %>
        <% if current_user.admin? %>
          <%= f.input :kiki_note, as: :text, label: "Message for Alfred" %>
        <% end %>
        <%= f.input :alfred_message, as: :text, label: "Message for Kiki" %>
        <!-- Hidden field for start_time -->
        <%= f.hidden_field :time, value: Time.current %>
        <div class="centre">
          <%= f.submit 'Done!', class: 'small-yellow-btn' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
