<div class="gooi-container">
  <div class="outline">
    <div>
      <% if @drivers_day %>
        <h1>Driver: <%= @drivers_day.user.first_name %></h1>
        <p>Total kms: <%= (@drivers_day.end_kms || 0) - (@drivers_day.start_kms || 0) %></p>
        <p>Alfred's message: <%= @drivers_day.message_from_alfred || "No message" %></p>
      <% end %>
    </div>
    <div>
      <h1>All collections made <%= @today %></h1>
      <% @collections.each do |collection| %>
        <% if collection.skip %>
          <s>
            <p><%= collection.subscription.user.first_name %> skipped</p>
          </s>
        <% else %>
          <p><%= collection.subscription.user.first_name %>: <%= collection.subscription.xl? ? collection.buckets || 0 : collection.bags || 0 %> <%= collection.subscription.xl? ? 'buckets' : 'bags' %></p>
          <p><%= collection.alfred_message if collection&.alfred_message %></p>
        <% end %>
      <% end %>
    </div>
    <%= link_to "home", root_path, class: "gooi-button" %>
  </div>
</div>
