<div class="user-wrapper">
  <h2>Want to add bags?</h2>
  <%= simple_form_for @invoice, post: collections_issue_bags_path(@collection) do |f| %>
    <div class="form-group">

      <% invoice_item = @invoice.invoice_items.find { |item| item.product_id == @compost_bags.id } %>

      <p><%= @compost_bags.title %> (R<%= @compost_bags.price %>)</p>

      <%= f.fields_for :invoice_items, invoice_item do |invoice_item_form| %>
        <%= invoice_item_form.hidden_field :id %>
        <%= invoice_item_form.hidden_field :product_id, value: @compost_bags.id %>
        <%= invoice_item_form.input :quantity, label: "How many? (or 0)", input_html: { min: 0, value: invoice_item&.quantity || 0 } %>
      <% end %>

    </div>
    <%= f.submit "Send invoice", class: "submit-btn" %>
  <% end %>
</div>
