<div class="collection-container">
  <div class="collection-body">
    <div class="collection-body-heading">
      <div>
        <%= link_to 'Back', :back, class: 'back_button' %>
      </div>
      <div>
        <h1><strong><%= @subscription.user.first_name %></strong></h1>
        <%= link_to "https://wa.me/#{@subscription.user.phone_number}" do %>
          <i class="fa-brands fa-whatsapp" style="font-size: 30px"></i>
        <% end %>
      </div>
    </div>
    <%= simple_form_for [@subscription, @collection] do |f| %>
      <%= f.input :skip %>
      <%= f.input :needs_bags, label: "Number of rolls needed", placeholder: "0" %>
      <% if @subscription.XL? %>
        <%= f.input :buckets, label: "Number of buckets collected", placeholder: "0" %>
      <% else%>
        <%= f.input :bags, label: "Number of bags collected", placeholder: "0" %>
      <% end %>
      <% if current_user.admin? %>
        <%= f.input :kiki_note %>
        <%= f.input :date, as: :date %>
        <div class="d-flex">
          <%= f.input :is_done, as: :boolean, checked_value: 'positive', unchecked_value: 'negative' %>
          <%= f.input :new_customer, as: :boolean, label: "New Customer" %>
        </div>
      <% elsif current_user.driver? %>
        <%= f.input :alfred_message, as: :text, label: "Message from Alfred" %>
        <div class="d-flex">
          <%= f.input :is_done, as: :boolean, checked_value: 'positive', unchecked_value: 'negative' %>
          <%#= f.input :new_customer, as: :boolean, label: "DROPPED OFF", checked_value: 'negative', unchecked_value: 'positive' %>
        </div>
        <%= f.hidden_field :date, value: Date.current %>
      <% end %>
      <%= f.submit 'Save', class: 'gooi-button' %>
    <% end %>
  </div>
