<div class = background>
<div class="collection-container">
  <div class="collection-body">
  <%= link_to 'Back', :back, class: 'back_button' %>
    <p class ='collection-header'><strong>New Collection for <%= @subscription.user.first_name %></strong></p>
    <%= simple_form_for [@subscription, @collection] do |f| %>
      <%= f.input :alfred_message, as: :text %>
      <%= f.input :bags, as: :integer %>
      <%= f.input :is_done %>
      <%= f.submit 'Save', class: 'collect-button' %>
    <% end %>
  </div>
</div>
</div>
