<div class="driver-wrapper">
  <h1>Manage this weeks collections</h1>
  <%= button_to 'Create Collections', perform_create_collections_path, class: 'small-yellow-btn', data: { confirm: 'Are you sure you want to run this job?' } %>
  <br>
  <h3>Collections for this week:</h3>
  <p> <%= (Date.today + 1).strftime(" %A") %> Total: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 1).count %></p>
  <p> <%= (Date.today + 1).strftime(" %A") %> Skips: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 1, skip: true).count %></p>
  <p> <%= (Date.today + 2).strftime(" %A") %> Total: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 2).count %></p>
  <p> <%= (Date.today + 2).strftime(" %A") %> Skips: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 2, skip: true).count %></p>
  <p> <%= (Date.today + 3).strftime(" %A") %> Total: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 3).count %></p>
  <p> <%= (Date.today + 3).strftime(" %A") %> Skips: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 3, skip: true).count %></p>
  <!--  <p>Wednesday: <%#= Collection.where(created_at: Date.today.all_day, date: Date.today ).count %></p>
  <p>Thursday: <%#= Collection.where(created_at: Date.today.all_day, date: Date.today ).count %></p>-->
  <br>
  <h2>Skips for <%= @day %>:</h2>
  <div class="skip-collections">
    <div class="skip-form">
      <h3>Select to skip</h3>
      <%= simple_form_for(:skip_today_collections, url: skip_today_collections_path, method: :patch) do |f| %>
        <% @unskipped_collections.each do |collection| %>
          <div class="collection-group">
            <%= f.input collection.id, label: collection.subscription.user.first_name, as: :boolean %>
          </div>
        <% end %>
        <%= f.submit "Update all", class: "small-yellow-btn" %>
      <% end %>
    </div>
    <div class="skipped mt-4">
      <h3>Already skipped</h3>
      <% @skipped_collections.each do |collection| %>
        <p class="mb-3"><%=  collection.subscription.user.first_name%></p>
      <% end %>
    </div>
  </div>
</div>
