<div class="driver-wrapper">
  <h2>Collections</h2>
    <%= button_to 'Create for Next Week', perform_create_next_week_collections_path, class: 'small-yellow-btn', data: { confirm: 'Are you sure you want to run this job?' } %>
  <div class="d-flex mt-3">

    <%= link_to 'Import from CSV', load_csv_collections_path, class: 'small-yellow-btn' %>
    <%= button_to 'Create for Today', perform_create_today_collections_path, class: 'small-yellow-btn', data: { confirm: 'Are you sure you want to run this job?' } %>
    <%= button_to 'Create for Tomorrow', perform_create_tomorrow_collections_path, class: 'small-yellow-btn', data: { confirm: 'Are you sure you want to run this job?' } %>
  </div>
  <br>
  <p><%= @unskipped_collections.count + @skipped_collections.count %> collections created for today</p>
  <%= link_to 'todays list', today_subscriptions_path, class: 'small-yellow-btn mt-3' %>
  <!--<h3>Collections for this week:</h3>-->
  <!--<p> <%#= (Date.today + 1).strftime(" %A") %> Total: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 1).count %></p>
  <p> <%#= (Date.today + 1).strftime(" %A") %> Skips: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 1, skip: true).count %></p>
  <p> <%#= (Date.today + 2).strftime(" %A") %> Total: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 2).count %></p>
  <p> <%#= (Date.today + 2).strftime(" %A") %> Skips: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 2, skip: true).count %></p>
  <p> <%#= (Date.today + 3).strftime(" %A") %> Total: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 3).count %></p>
  <p> <%#= (Date.today + 3).strftime(" %A") %> Skips: <%= Collection.where(created_at: Date.today.all_day, date: Date.today + 3, skip: true).count %></p>-->
  <!--  <p>Wednesday: <%#= Collection.where(created_at: Date.today.all_day, date: Date.today ).count %></p>
  <p>Thursday: <%#= Collection.where(created_at: Date.today.all_day, date: Date.today ).count %></p>-->
  <br>
  <h2>Skips for <%= @day %>:</h2>
  <div class="skip-collections">
    <div class="skipped p-4">
      <h3>Already skipped</h3>
      <% @skipped_collections.each do |collection| %>
        <p class="mb-3"><%=  collection.subscription.user.first_name%></p>
      <% end %>
    </div>
    <div class="skip-form p-4">
      <h3>Select to skip</h3>
      <%= simple_form_for(:skip_today_collections, url: skip_today_collections_path, method: :patch) do |f| %>
        <% @unskipped_collections.each do |collection| %>
          <%= f.input collection.id, label: collection.subscription.user.first_name, as: :boolean %>
        <% end %>
        <%= f.submit "Update all", class: "small-yellow-btn" %>
      <% end %>
    </div>
  </div>
</div>
