<div class="user-wrapper">
  <h1 class="my-4">Edit <%= @drop_off_site.name %></h1>

  <%= simple_form_for [:admin, @drop_off_site] do |f| %>
    <%= f.input :name, placeholder: "e.g. Neighbourhood Farm" %>

    <%= f.input :street_address, placeholder: "e.g. Paris Road, Fish Hoek" %>

    <%= f.input :suburb,
          as: :select,
          collection: Subscription::SUBURBS,
          prompt: "Select a suburb" %>

    <%= f.input :collection_day,
          as: :select,
          collection: Date::DAYNAMES.map { |day| [day, day] },
          prompt: "Select collection day" %>

    <%= f.input :contact_name, placeholder: "e.g. Sibusiso" %>

    <%= f.input :phone_number,
          placeholder: "+27 82 555 1234",
          hint: "International format preferred (e.g. +27 82 555 1234)" %>

    <%= f.input :notes,
          as: :text,
          input_html: { rows: 4 },
          placeholder: "e.g. Last stop on route. Enter through main gate.",
          hint: "Any special instructions for the driver" %>

    <%= f.input :photo, as: :file, hint: "Upload a photo of the drop-off site" %>
    <% if @drop_off_site.photo.attached? %>
      <div class="mb-3">
        <p><strong>Current photo:</strong></p>
        <%= image_tag @drop_off_site.photo, width: 200, class: "img-thumbnail" %>
      </div>
    <% end %>

    <%= f.button :submit, "Update Drop-Off Site", class: "small-yellow-btn" %>
  <% end %>

  <%= link_to "â† Back to site", admin_drop_off_site_path(@drop_off_site), class: "mt-3 d-block" %>
</div>
