<div class="drivers-day-container">

  <div class="dd-header">
    <div>
      <h1 class="dd-header__title">Edit Driver's Day</h1>
      <p class="dd-header__sub"><%= @drivers_day.date.strftime('%A, %d %B %Y') %></p>
    </div>
    <div class="dd-header__actions">
      <%= link_to drivers_day_path(@drivers_day), class: "tiny-yellow-btn" do %>
        <i class="fa-solid fa-arrow-left"></i> Back
      <% end %>
    </div>
  </div>

  <%= simple_form_for @drivers_day do |f| %>
    <%= f.error_notification %>

    <div class="dd-form-card">
      <div class="dd-form-card__header">
        <i class="fa-solid fa-clock"></i>
        <h3>Route Times & Distance</h3>
      </div>
      <div class="dd-form-card__body">
        <%= f.input :date, as: :datetime, required: true %>
        <%= f.input :start_time, as: :datetime %>
        <%= f.input :end_time, as: :datetime %>
        <%= f.input :sfl_time, as: :datetime, label: "SFL Time" %>
        <%= f.input :start_kms, input_html: { min: 0 } %>
        <%= f.input :end_kms, input_html: { min: 0 } %>
        <%= f.input :total_buckets, input_html: { min: 0 } %>
      </div>
    </div>

    <div class="dd-form-card">
      <div class="dd-form-card__header">
        <i class="fa-solid fa-note-sticky"></i>
        <h3>Notes</h3>
      </div>
      <div class="dd-form-card__body">
        <%= f.input :note %>
        <%= f.input :message_from_alfred %>
      </div>
    </div>

    <div class="quick-actions">
      <%= f.button :submit, "Save Changes", class: "action-btn" %>
      <%= link_to "Cancel", drivers_day_path(@drivers_day), class: "action-btn" %>
    </div>
  <% end %>

</div>
