<div class="drivers-day-container">

  <div class="dd-header">
    <div>
      <h1 class="dd-header__title">Edit Driver's Day</h1>
      <p class="dd-header__sub"><%= @drivers_day.date.strftime('%A, %d %B %Y') %></p>
    </div>
    <div class="dd-header__actions">
      <%= link_to drivers_day_path(@drivers_day), class: "tiny-yellow-btn" do %>
        <i class="fa-solid fa-arrow-left"></i> Back
      <% end %>
    </div>
  </div>

  <%= simple_form_for @drivers_day do |f| %>
    <%= f.error_notification %>

    <div class="dd-form-card">
      <div class="dd-form-card__header">
        <i class="fa-solid fa-clock"></i>
        <h3>Route Times & Distance</h3>
      </div>
      <div class="dd-form-card__body">
        <%= f.input :date, as: :date, input_html: { class: "form-control dd-date-input" } %>

        <%= f.input :start_time, as: :string, label: "Start Time",
            input_html: {
              type: "datetime-local",
              class: "form-control dd-date-input",
              value: @drivers_day.start_time&.strftime('%Y-%m-%dT%H:%M')
            } %>

        <%= f.input :end_time, as: :string, label: "End Time",
            input_html: {
              type: "datetime-local",
              class: "form-control dd-date-input",
              value: @drivers_day.end_time&.strftime('%Y-%m-%dT%H:%M')
            } %>

        <div class="dd-form-kms-row">
          <div class="dd-form-kms-row__field">
            <%= f.input :start_kms, label: "Start KMs", input_html: { min: 0, class: "form-control" } %>
          </div>
          <div class="dd-form-kms-row__field">
            <%= f.input :end_kms, label: "End KMs", input_html: { min: 0, class: "form-control" } %>
          </div>
        </div>

        <%= f.input :total_buckets, input_html: { min: 0, class: "form-control" } %>
      </div>
    </div>

    <div class="dd-form-card">
      <div class="dd-form-card__header">
        <i class="fa-solid fa-note-sticky"></i>
        <h3>Notes</h3>
      </div>
      <div class="dd-form-card__body">
        <%= f.input :note, input_html: { class: "form-control" } %>
        <%= f.input :message_from_alfred, input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="quick-actions">
      <%= f.button :submit, "Save Changes", class: "action-btn" %>
      <%= link_to "Cancel", drivers_day_path(@drivers_day), class: "action-btn" %>
    </div>
  <% end %>

</div>
