<div class="driver-wrapper">
  <%= link_to "Someone missing from the list?", missing_customers_drivers_day_path(@drivers_day), class: "btn btn-info mb-3" %>
  <div class="collection-header">
    <div class="name">
      <p>Name</p>
    </div>
    <div class="bag">
      <p>Collect</p>
    </div>
    <div class="address">
      <p>Address</p>
    </div>
  </div>
  <div class="collections"  >
    <%#= button_to 'Reset Collection Order', reset_order_drivers_day_collections_path(@drivers_day), method: :post, class: "btn btn-warning", data: { turbo: false } %>

    <ul data-controller="sortable">
      <% @route_items.each do |item| %>
        <% if item.is_a?(DropOffEvent) %>
          <li class="collection">
            <div class="name">
              <p><%= link_to item.drop_off_site.name.split.first, drivers_day_drop_off_event_path(@drivers_day, item) %></p>
                <i class="fa-solid fa-check"></i>
              <% end %>
            </div>
            <div class="bag">
              <%= link_to "Weigh", drivers_day_drop_off_event_path(@drivers_day, item), class: "small-yellow-btn" %>
            </div>
             <div class="address">
              <%= link_to item.drop_off_site.street_address, "https://maps.google.com/?q=#{item.drop_off_site.street_address}, #{item.drop_off_site.suburb}", target: :_blank %>
            </div>
          </li>
        <% else %>
          <li class="collection" data-sortable-url="<%= update_position_collection_path(item) %>"
          data-sortable-handle
          class="sortable-item">
            <div class="name">
              <p><%= link_to item.subscription.user.first_name.truncate(13), subscription_path(item.subscription) %></p>
              <% if current_user.admin? %>
                <p><%= link_to 'X', collection_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
              <% end %>
            </div>
            <div class="bag">
              <% if item.skip %>
                <%= link_to "skip", edit_collection_path(item), class: "small-yellow-btn" %>
              <% else %>
                <% if (item.bags || 0) >= 1 %>
                  <%= link_to "#{pluralize(item.bags, 'bag')}", edit_collection_path(item), class: "small-yellow-btn" %>
                <% elsif (item.buckets || 0) >= 1 %>
                  <%= link_to "#{pluralize(item.buckets, 'bucket')}", edit_collection_path(item), class: "small-yellow-btn" %>
                <% elsif item.new_customer %>
                  <%= link_to "Meet #{item.subscription.user.first_name}", edit_collection_path(item) , class: "small-yellow-btn"%>
                <% elsif item.subscription.user.drop_off? %>
                  <%= link_to "Drop off", edit_collection_path(item) , class: "small-yellow-btn"%>
                <% else %>
                  <%= link_to "collect", edit_collection_path(item), class: "small-yellow-btn" %>
                <% end %>
              <% end %>
            </div>
            <div class="address">
              <%= link_to item.subscription.street_address&.truncate(20), "https://maps.google.com/?q=#{item.subscription.street_address}", target: :_blank %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

    <!--</ul>-->
  </div>
  <div class="drivers-form">
    <% if current_user.admin? %>
      <%= link_to "NOTES", today_notes_path, class: "sign-up-btn mb-3" %>
      <%= link_to "END DAY", end_drivers_day_path(@drivers_day), class: "sign-up-btn" %>
    <% elsif current_user.driver? && @drivers_day.nil? %>
      <p><em>No collections without a driver</em></p>
    <% elsif current_user.driver? %>
      <%= link_to "END DAY", end_drivers_day_path(@drivers_day), class: "sign-up-btn" %>
    <% end %>
  </div>
</div>
