<div class="driver-wrapper">
  <% if @subscriptions.empty? %>
    <h2>There are no subscriptions waiting for you.</h2>
  <% else %>
    <% if @skip_subscriptions.nil? %>
      <p>hang tight, not all collections have been loaded.</p>
      <p>Maybe give kiki a call?</p>
    <% else %>
      <h2>Before you get started...</h2>
      <br>
      <h6><strong> <%= pluralize(@skip_subscriptions.count, 'house') %> asked to be skipped:</strong></h6>
      <% @skip_subscriptions.each do |sub| %>
        <p><%= sub.user.first_name %> at <%= sub.street_address %> </p>
      <% end %>
      <h3><strong>And <%= pluralize(@bags_needed.count, 'house needs') %> <%= @total_bags_needed %> bags</strong></h3>
      <% @bags_needed.each do |sub| %>
        <p><%= sub.collections.last.needs_bags %> for <%= sub.user.first_name %> at <%= sub.street_address %></p>
      <% end %>

      <% if @products_needed.any? %>
        <br>
        <h3><strong>Products to Deliver Today:</strong></h3>
        <% @products_needed.each do |item| %>
          <p><strong><%= item[:quantity] %>x</strong> <%= item[:product].title %></p>
        <% end %>
        <p>Make sure to take them with you!</p>
      <% end %>

      <% if @recently_lapsed.any? %>
        <br>
        <h3><strong><%= pluralize(@recently_lapsed.count, 'customer') %> recently lapsed</strong></h3>
        <p>Their subscriptions ended in the last 2 weeks. You can collect from them as a courtesy.</p>
        <br>
        <%= link_to "Message recently lapsed customers", recently_lapsed_subscriptions_path, class: "small-yellow-btn mb-3" %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <h2>Let's get to it!</h2>
  <%= simple_form_for @drivers_day, url: start_drivers_day_path do |f| %>
    <div class="drivers-form">
      <%= f.input :start_kms, label: false, placeholder: "Enter starting kms", required: true, input_html: { min: 0 } %>
      <%= f.submit "Time to vamos!", class: "small-yellow-btn" %>
    </div>
  <% end %>
</div>
