<!--<div class="gooi-container">-->
<div class="user-wrapper">
  <h2>Sign up</h2>
  <div class="user-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "given-name" } %>
      <%= f.input :last_name, required: true, autofocus: true, input_html: { autocomplete: "family-name" } %>
      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
      <%= f.input :phone_number, required: true, autofocus: true, input_html: { autocomplete: "tel" } %>
      <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <%= f.simple_fields_for :subscriptions do |subscription_fields| %>
          <%#= subscription_fields.input :suburb, collection: Subscription::SUBURBS %>
          <%= subscription_fields.input :referral_code, label: "Refered by a friend?", placeholder: "Enter their code to get 15% off" %>
          <p class="mb-1">or</p>
          <%= subscription_fields.input :discount_code, label: "Got a discount code?", placeholder: "Enter your code" %>
          <p class="mb-1">If your suburb isn't on this list, contact us at howzit@gooi.me to talk about expansion!</p>
          <%= subscription_fields.input :suburb, label: false,  collection: Subscription::SUBURBS, prompt: "Select a suburb" %>
          <%= subscription_fields.input :apartment_unit_number, label: "Building name and unit number (if relevant)", placeholder: "e.g Unit 1 Garden View" %>
          <%= subscription_fields.input :street_address, input_html: { data: { address_autocomplete_target: "address" },  class: "d-none"}, label_html: {class: "street-label"} %>
          <%#= f.fields_for :subscriptions do |subscription_form| %>
            <%= subscription_fields.hidden_field :plan, value: @plan %>
            <%= subscription_fields.hidden_field :duration, value: @duration %>
            <%= subscription_fields.hidden_field :is_paused, value: true %>
            <%# end %>
          <% end %>
        </div>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password"}, label_html: { class: "after-address" } %>
        <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'submit-btn' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
