<h1>Howzit Kiki!</h1>
<h2><%= @subscription.user.first_name %> <%= @subscription.user.last_name %> has joined GOOI</h2>
<p>Email: <%= @subscription.user.email %></p>
<p>Plan: <%= @subscription.plan %></p>
<p>Address: <%= @subscription.street_address %></p>
