<div class="driver-wrapper link-decoration mb-2">
  <div class="d-flex">
    <h1>All invoices</h1>
    <% if current_user.admin? %>
      <%= link_to ' + invoice', new_invoice_path, class:"link-title" %>
    <% end %>
  </div>
  <% @invoices.each do |invoice| %>
    <% if current_user.admin? %>
      <%= link_to invoice_path(invoice) do %>
        <div class="payment-card">
          <p><%= invoice.issued_date.strftime('%b %d') %></p>
          <div class="payment-card-user">
            <%= invoice.user.first_name %>
          </div>
          <div class="payment-card-amount">
            <h2>R<%= invoice.total_amount.truncate %></h2>
            <%= link_to 'delete', invoice_path(invoice), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
          </div>
          <% if invoice.paid %>
            <i class="fa-regular fa-circle-check"></i>
          <% else %>
            <i class="fa-regular fa-circle-xmark"></i>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= link_to invoice_path(invoice) do %>
        <div class="payment-card">
          <p><%= invoice.issued_date.strftime('%b %d') %></p>
          <div class="payment-card-user">
            <%= invoice.subscription.street_address %>
          </div>
          <div class="payment-card-amount">
            <h2>R<%= invoice.total_amount.truncate %></h2>
          </div>
          <% if invoice.paid %>
            <i class="fa-regular fa-circle-check"></i>
          <% else %>
            <i class="fa-regular fa-circle-xmark"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
