<div class="user-wrapper">
  <div class="collection-body">
  <div class="d-flex justify-content-between">
    <h1>New Invoice</h1>
    <%= link_to '+ product', new_product_path %>
  </div>
    <br>
    <%= simple_form_for [@invoice] do |f| %>
      <div class="form-group">
        <%= f.input :subscription_id, label: "Select Subscription",
                collection: Subscription.all.map { |s| ["#{s.user.first_name} #{s.user.last_name} (#{s.street_address})", s.id] }.sort,
                selected: Subscription.order(created_at: :desc).first.id,
                include_blank: false,
                class: "form-control" %>
      </div>
       <div class="d-flex justify-content-between">
      <h3>Invoice Items</h3>
      <p>quantity</p>
       </div>
      <div id="invoice-items-container">
        <% @products.each_with_index do |product, index| %>
          <div class="invoice-item">
            <%= label_tag "invoice[invoice_items_attributes][#{index}][product_id]", "#{product.title}", class:"w-100" %>
            <%= hidden_field_tag "invoice[invoice_items_attributes][#{index}][product_id]", product.id %>
            <%= number_field_tag "invoice[invoice_items_attributes][#{index}][quantity]", nil, class: "form-control w-25", min: 0, step: 1 %>
          </div>
        <% end %>
        <br>
        <%= f.button :submit, class:'gooi-button' %>
      </div>
    <% end %>
  </div>
</div>
</div>
