<div class="invoice-wrapper">
  <div class="invoice-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="mb-0">Invoice</h1>
      <% if current_user.admin? %>
        <%= link_to "Edit Invoice", edit_invoice_path(@invoice), class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    </div>
    <!--<h5 class="text-center my-3">gooi compost collections</h5>-->
    <div class="user-details ms-1">
      <div class="user">
        <p><strong>For:</strong> <%= @subscription.user.first_name %> <%= @subscription.user.last_name %></p>
        <p><strong>Email:</strong> <%= @subscription.user.email %></p>
        <p><strong>Customer ID:</strong> <%= @subscription.customer_id %>
          <p><strong>Address:</strong> <%= @subscription.street_address %>, <%= @subscription.suburb %></p>
          <p><strong>Due Date:</strong> <%= @invoice.paid ? 'paid!' : @invoice.due_date.strftime('%A, %b %d') %></p>
          <% if current_user.admin? && !@invoice.paid %>
            <%= link_to 'paid', paid_invoice_path(@invoice) %>
          <% end %>
        </div>
        <div class="business">
          <% if @subscription.business_profile.present? %>
            <p><strong>Business:</strong> <%= @subscription.business_profile.business_name %></p>
            <% if @subscription.business_profile.vat_number.present? %>
              <p><strong>VAT #:</strong> <%= @subscription.business_profile.vat_number %></p>
            <% end %>
            <% if @subscription.business_profile.contact_person.present? %>
              <p><strong>Att:</strong> <%= @subscription.business_profile.contact_person %></p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="invoice-table">
        <!--<p><%#= @subscription.duration %> month <%= @subscription.plan %> gooi subscription </p>-->
        <div class="header">
          <div class="quantity-description">
            <div class="quantity">
              <h1>Quantity</h1>
            </div>
            <h1>Item</h1>
          </div>
          <h1>Amount</h1>
        </div>
        <% @invoice.invoice_items.each do |item| %>
          <div class="invoice-item">
            <div class="quantity-description">
              <div class="quantity">
                <p><%= item.quantity.to_i %></p>
              </div>
              <p><%= item.product.title %></p>
            </div>
            <p>R<%= item.product == @referrer_discount ? (item.product.price * item.quantity).truncate : item.product.price.truncate %></p>
          </div>
        <% end %>
        <% if @discount_code.present? %>

          <div class="invoice-item">
            <div class="quantity-description">
              <div class="quantity">
                <p>1</p>
              </div>
              <p><%= @discount_code.code %> Discount</p>
            </div>
            <p class="text-success">
              <% if @discount_code.discount_percent.present? %>
                -<%= @discount_code.discount_percent %>% off
              <% elsif @discount_code.discount_cents.present? %>
                -R<%= '%.2f' % (@discount_code.discount_cents / 100.0) %>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="invoice-total">
        <p>Total: R<%= @invoice.total_amount.truncate %></p>
      </div>
      <div class="payment-container">
        <h2>Make a Payment</h2>
        <div class="payment-options">
          <div class="eft">
            <h3 class="mb-3">Bank Details</h3>
            <p><strong>Bank:</strong> FNB</p>
            <p><strong>Account Name:</strong> Gooi</p>
            <p><strong>Account Number:</strong> 63066225426</p>
            <p><strong>Branch Code:</strong> 250655</p>
            <p><strong>Reference:</strong> Invoice #<%= @invoice.id %> - <%= @subscription.customer_id %></p>

            <p>Please use the reference above when making payment.</p>
          </div>
          <div class="snapscan ms-4">
            <h3 class="mb-3">Snapscan</h3>
            <p class="mb-5">You can also make make a payment via the secure SnapScan portal. SnapScan accepts bank cards, EFTs, as well as payments through the SnapScan app.</p>
            <%= link_to "Pay with snapscan", "https://pos.snapscan.io/qr/8jQ1QVVb?id=#{@subscription.customer_id}&amount=#{@invoice.total_amount.to_i}00&invoice_id=#{@invoice.id}", target:"blank", class: "small-yellow-btn ms-4"  %>

          </div>
        </div>
      </div>
    </div>
  </div>
