<div class="navbar-container admin-navbar">
  <div class="inner-container">
    <%= link_to root_path do %>
      <%= image_tag('gooi_logo_CR.svg', class: 'gooi-logo') %>
    <% end %>
    <div class="links-container" style="margin-left: auto;">
      <%= link_to 'Dashboard', admin_root_path, class: "link-title" %>

      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "new-nav-auth-btn" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "new-nav-auth-btn" %>
      <% end %>
    </div>
    <div class="hamburger-menu">
      <button class="btn p-0 border-0 bg-transparent" type="button" id="navbarDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag 'menu-svgrepo-com.png', class: "avatar" %>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><%= link_to 'Dashboard', admin_root_path, class: "dropdown-item" %></li>

        <li><hr class="dropdown-divider"></li>

        <% if user_signed_in? %>
          <li>
            <%= link_to "Log out", destroy_user_session_path,
                data: { turbo_method: :delete }, class: "dropdown-item text-danger" %>
          </li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
