<!-- What is compostable -->
<section class="compostable-section">
  <h1>What is compostable</h1>
  <div class="content-wrapper">
    <div class="compostable-container">
      <!--<i class="fa-solid fa-chevron-right arrow-right"></i>-->
      <div class="compostable-card">
        <div class="overlay"></div>
        <%= image_tag('fruit-veg.svg') %>
        <div>
          <p class="compost-title">Fruit and Vegetable Scraps</p>
          <p>All fresh fruit and vegetable scraps are compostable.</p>
        </div>
      </div>
      <div class="compostable-card">
        <div class="overlay"></div>
        <%= image_tag('coffee-tea.svg') %>
        <p class="compost-title">Tea and Coffee</p>
        <p>Used coffee grounds and paper tea bags are great for composting and add valuable nitrogen.</p>
      </div>
      <div class="compostable-card">
        <div class="overlay"></div>
        <%= image_tag('garden-waste.svg') %>
        <p class="compost-title">Garden Waste</p>
        <p>Green garden waste is ideal for composting, but avoid large branches or diseased plants.</p>
      </div>
      <div class="compostable-card">
        <div class="overlay"></div>
        <%= image_tag('paper-products.svg') %>
        <p class="compost-title">Paper Products</p>
        <p>Only uncoated paper and cardboard should be composted. Avoid glossy or colored paper.</p>
      </div>
      <div class="compostable-card">
        <div class="overlay"></div>
        <%= image_tag('food-scraps.svg') %>
        <p class="compost-title">Food Scraps (No meat or dairy)</p>
        <p>These items are compostable but avoid oily or spiced foods as they attract pests and decompose slowly.</p>
      </div>
      <div class="compostable-card">
        <div class="overlay"></div>
        <%= image_tag('yard-trimmings.svg') %>
        <p class="compost-title">Yard Trimmings</p>
        <p>These items are compostable but may take longer to break down. Shredding them first helps.</p>
      </div>
      <div class="compostable-card">
        <div class="overlay"></div>
        <%= image_tag('natural-fibres.svg') %>
        <p class="compost-title">Natural Fibers</p>
        <p>Natural fibers like cotton and wool can be composted. Ensure they are not dyed or treated with chemicals.</p>
      </div>
    </div>
  </div>
</section>
