<div class="navbar-container">
  <div class="inner-container">
    <%= link_to root_path do %>
      <%= image_tag('gooi_logo_CR.png', class: 'gooi-logo', alt: 'Gooi') %>
    <% end %>

    <!-- Hamburger always visible -->
    <div class="hamburger-menu dropdown ms-auto">
      <%= link_to shop_index_path do %>
        <i class="fa-solid fa-cart-shopping"></i>
      <% end %>
      <button class="btn p-2 border-0 bg-transparent" id="navMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false" aria-label="Open menu">
        <i class="fa-solid fa-bars fa-2x" style="color:#023f3a;"></i>
      </button>

      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navMenuButton">
        <li><%= link_to 'Manage', manage_path, class: "dropdown-item" %></li>
        <li><%= link_to 'Account', account_path, class: "dropdown-item" %></li>
        <li><%= link_to 'My Subscriptions', my_subscriptions_path, class: "dropdown-item" %></li>
        <li><%= link_to 'Referrals', referrals_path, class: "dropdown-item" %></li>
        <% if current_user.respond_to?(:invoices) && current_user.invoices.any? %>
          <li><%= link_to "Invoices", invoices_path, class: "dropdown-item" %></li>
        <% end %>

        <li><hr class="dropdown-divider"></li>

        <% if user_signed_in? %>
          <li>
            <%= link_to "Log out", destroy_user_session_path,
                        class: "dropdown-item text-danger",
                        data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
