<!--mission section-->
<section class="mission-section">
  <div class="content-wrapper">
    <!--left-->
    <div class="info-container">
      <h1>Our Mission<span class="yellow-txt">.</span></h1>
      <p>At Gooi, we're committed to making composting an easy and practical <strong class="yellow-txt">solution for everyone.</strong> We aim to reduce landfill waste, support local farmers, and enhance soil quality. We provide a simple solution for households and small businesses to manage their organic waste, contributing to a greener, more sustainable future. <br>
        <br>
        Join us in turning waste into a valuable resource</p>
      <div class="icons-container">
        <div class="icon-container">
          <%= image_tag('plant.png' , class: 'icon' ) %>
          <h3>Promote Growth</h3>
        </div>
        <div class="icon-container">
          <%= image_tag('bag.png' , class: 'icon' ) %>
          <h3>Enrich Soil</h3>
        </div>
        <div class="icon-container">
          <%= image_tag('mower.png' , class: 'icon' ) %>
          <h3>Support Farmers</h3>
        </div>
      </div>
    </div>
    <!--right-->
    <div class="images-container">
      <div class="img-1">
        <%= image_tag('close_compost.png', class: 'mission-image') %>
      </div>
      <div class="img-2">
        <%= image_tag('kitchen_bucket.jpg', class: 'mission-image') %>
      </div>
      <div class="img-3">
        <%= image_tag('compost-01.jpg', class: 'mission-image') %>
      </div>
    </div>
  </div>
</section>
