<!--<div class=navbar>-->
  <%#= link_to root_path do %>
    <%#= image_tag('alt_logo.jpg', alt: 'Your Logo', class: 'alt_logo') %>
  <%# end %>
  <%# if user_signed_in? %>
<!--    <div class="flex-nav">-->
      <%#= link_to "Home", root_path, class: 'logout-link' %>
      <%#= link_to "Today", today_subscriptions_path, class: 'logout-link' %>
      <%#= link_to "load CSV", get_csv_path, class: 'logout-link' %>
<!--      <br>-->
      <%#= link_to "LOGOUT", destroy_user_session_path, data: {turbo_method: :delete}, class: 'logout-link' %>
<!--    </div>-->
  <%# else %>
<!--    <div>-->
      <%#= link_to "Login", new_user_session_path, class: 'logout-link' %>
<!--    </div>-->
  <%# end %>
<!--</div>
-->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('alt_logo.jpg', alt: 'Your Logo', class: 'alt_logo') %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Today", today_subscriptions_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Load CSV", get_csv_path, class: "dropdown-item" %>
              <%#= link_to "Export CSV", export_csv_path, class: "dropdown-item" %> <!-- Ensure you have a route named export_csv_path -->
              <%= link_to "Drivers Days", drivers_days_path, class: "dropdown-item" %> <!-- Ensure you have a route named drivers_days_path -->
            </div>
          </li>
          <li class="nav-item">
            <%= link_to "LOGOUT", destroy_user_session_path, data: {turbo_method: :delete}, class: 'logout-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
