<div class="past-collections-cards">
  <div class="collections-card">
    <% subscription.collections.order(date: :desc).in_groups_of(5).each do |collections_group| %>
      <ul class="list-group">
        <% collections_group.each do |collection| %>
          <% if collection %>
            <li class="list-item">
              <%= collection.date.strftime('%d %b %Y') %>
              <% if collection.skip == true %>
                <p>skipped</p>
              <% end %>
              <p><%= collection.bags %> bags</p>
            </li>
            <li class="list-item">
              <%= collection.date.strftime('%d %b %Y') %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="list-group">
        <% collections_group.each do |collection| %>
          <% if collection %>
            <li class="list-item">
              <%= collection.date.strftime('%d %b %Y') %>
            </li>
            <li class="list-item">
              <%= collection.date.strftime('%d %b %Y') %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
