
  <!--header-->

<section class="gooi-header">
  <div class="inner-header-container">
  <h1>Organic waste recycling made easy</h1>
  <p>Gooi makes composting your food waste as easy as throwing it in the bin.
    Our goal is to divert <strong class="yellow-txt">organic waste</strong> from landfills and ensure it nourishes the earth instead.
    Gooi offers weekly collection of food scraps from your doorstep.
    Ready to join the food waste revolution?</p>
    <button class="btn-gooi">Gooi</button>
  </div>
  <!--video-->
  <%= video_tag("Our_Mission_at_Soil_For_Life.mp4", class: "gooi-video", controls: true) %>
</section>

  <!--code to create the wave in the header section-->

  <div class="wave-container">
    <svg
      class="waves"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
    <defs>
      <path
      id="gentle-wave"
      d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18 58-18 88-18 58 18 88 18v44h-352z"
      />
    </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x=""
          y="0"
          fill="rgba(255,255,255)"
        />
      </g>
    </svg>
  </div>

    <!--mission section-->

<section class="mission-section">
  <div class="content-wrapper">
      <!--left-->
    <div class="info-container">
      <h1>Mission we are working on<span class="yellow-txt">.</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Aliquip ex ea commodo consequat. <br><br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <strong class="yellow-txt">Excepteur sint</strong> occaecat cupidatat non proident.</p>
      <div class="icons-container">
        <div class="icon-container">
          <%= image_tag('plant.png' , class: 'icon' ) %>
          <h3>Lorem ipsum</h3>
        </div>
        <div class="icon-container">
          <%= image_tag('bag.png' , class: 'icon' ) %>
          <h3>Lorem ipsum</h3>
        </div>
        <div class="icon-container">
          <%= image_tag('mower.png' , class: 'icon' ) %>
          <h3>Lorem ipsum</h3>
        </div>
        <div class="icon-container">
          <%= image_tag('mower.png' , class: 'icon' ) %>
          <h3>Lorem ipsum</h3>
        </div>
      </div>
    </div>
    <!--right-->
    <div class="images-container">
      <div class="img-1">
        <%= image_tag('kobus.jpg', class: 'mission-image') %>
      </div>
      <div class="img-2">
        <%= image_tag('compost-01.jpg', class: 'mission-image') %>
      </div>
      <div class="img-3">
        <%= image_tag('compost-02.jpg', class: 'mission-image') %>
      </div>
    </div>
  </div>
</section>

  <!--compost section -->

<section class="compost-section">
  <h1>Why we compost</h1>
  <div class="content-wrapper">
      <div class="info-card-container">
        <div class="info-card">
          <div class="image-container">
            <%= image_tag('compost-s-1.png', class: 'compost-image') %>
          </div>
          <h3>Reduce landfill waste</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>
        <div class="info-card">
          <div class="image-container">
            <%= image_tag('compost-s-2.png', class: 'compost-image') %>
          </div>
          <h3>Reduce landfill waste</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>
        <div class="info-card">
          <div class="image-container">
            <%= image_tag('compost-s-3.png', class: 'compost-image') %>
          </div>
          <h3>Reduce landfill waste</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>
      </div>
  </div>
</section>

  <!--testimonial section-->

  <section class="testimonial-section">
  <!--  <h1>Testimonials</h1>-->
    <div class="content-wrapper">
      <div class="testimonials-container">
        <div class="testimonial-card">
        <!--  <p>loerm ipsum</p>-->
          <%#= image_tag %>
<!--          <h4>name</h4>-->
        </div>
      </div>
    </div>
  </section>
