<div class="outline">
  <% if current_user.customer? %>
    <h1>Welcome <%= current_user.first_name %></h1>
    <p>Here are your subscription details:</p>
    <% @user_subscriptions.each do |sub| %>
    <p>You signed up on: <%= sub.start_date.strftime('%d %b, %Y') %></p>
    <p>We have made <%= sub.collections.count %> pickups so far</p>
    <p>You can:</p>
    <%= simple_form_for sub do |f| %>
    <%= f.input :is_paused, as: :boolean, label: (sub.is_paused? ? "Unpause collections" : "Pause collections") %>
    <p>or, set a holiday period:</p>
    <%= f.input :holiday_start, as: :date, label: "starting:" %>
    <%= f.input :holiday_end, as: :date, label: "ending:" %>

    <%= f.submit "Thanks!", class: "gooi-button" %>
  <% end %>

    <% end %>
  <% else %>
    <%if @drivers_day&.respond_to?(:sfl_time) && @drivers_day.sfl_time && @drivers_day&.persisted? %>
      <h1>Thank you for your work today</h1>
      <%= image_tag'Alfred Sticker.svg', class: 'avatar-large' %>
      <br>
      <br>
      <p>You drove <%= @drivers_day.end_kms - @drivers_day.start_kms %>kms today</p>
      <p>And worked for <%= @hours_worked %></p>
      <p>Travel safe, see you next time</p>
      <div>
        <%= link_to "View all todays collections", drivers_day_collections_path(@drivers_day) %>
      </div>
    <% elsif @drivers_day.nil? %>
      <h1>There is no driver yet</h1>
      <p>Please ask admin to update collections</p>
    <% else %>
      <h1>Good morning <%= current_user.first_name %></h1>
      <h4>It's <%= @today %> today</h4>
      <br>
      <% if @subscriptions.empty? %>
        <h2>There are no subscriptions waiting for you.</h2>
        <p>But I love that you checked...</p>
      <% else %>
        <p>There are <%= @subscriptions.count - @skip_subscriptions.count - (@new_customers.nil? ? 0 : @new_customers.count) %> parcels waiting to be collected</p>
        <% if @new_customers&.any? %>
          <p>and <%= pluralize(@new_customers.count, 'new customer') %> to meet!</p>
          <h5>They are:</h5>
          <% @new_customers.each do |sub| %>
            <p><%= sub.user.first_name %> at <%= sub.street_address %> </p>
          <% end %>
          <!--<p>Take <%#= pluralize(@new_customers.count, 'bucket') %> for them!</p>-->
          <p>They already have a bucket.</p>
          <p>Note for the day: <%= @drivers_day.note %></p>
        <% end %>
      <% end %>
      <% if current_user.driver? && !@drivers_day.id.nil? %>
        <h5>Ready to get started?</h5>
        <br>
        <%= link_to "Start", start_drivers_day_path(@drivers_day), class: 'gooi-button' %>
      <% elsif current_user.admin? && @drivers_day.collections.nil?%>
        <%= link_to "load the collections, babe", get_csv_collections_path, class: "collection-button" %>
      <% elsif current_user.driver? && @drivers_day.collections.nil? %>
        <p>Contact Kiki to load the collections</p>
      <% end %>
    <% end %>
  <% end %>
</div>
