<!--header-->

<section class="gooi-header">
  <div class="inner-header-container">
    <h1>Organic Waste Recycling Made Easy</h1>
    <p>With Gooi, composting your food is as simple as tossing it in the bin.</p>
    <p>We're on a mission to redirect <strong class="yellow-txt">organic waste</strong> from landfills to nourish our earth.</p>
    <p>Join us for a weekly collection of your food scraps right from your doorstep.</p>
    <p>Ready to transform your waste into a resource?</p>

    <button class="btn-gooi">Get Started</button>
  </div>
  <!--video-->
  <div class="video-container">
    <%= video_tag("Our_Mission_at_Soil_For_Life.mp4",
    class: "gooi-video",
    controls: true,
    loop: true) %>
  </div>
</section>

<!--code to create the wave in the header section-->

<div class="wave-container">
  <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18 58-18 88-18 58 18 88 18v44h-352z"/>
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="0" y="0" fill="rgba(255,255,255)" />
    </g>
  </svg>
</div>

<!--mission section-->

<section class="mission-section">
  <div class="content-wrapper">
    <!--left-->
    <div class="info-container">
      <h1>Our Mission<span class="yellow-txt">.</span></h1>
      <p>At Gooi, we're committed to making composting an easy and practical solution for everyone. We aim to reduce landfill waste, support local farmers, and enhance soil quality. By simply putting your food scraps in your gooi bucket, you're contributing to a greener, more sustainable future. <br><br> Join us in turning waste into a valuable resource.</p>
      <div class="icons-container">
        <div class="icon-container">
          <%= image_tag('plant.png' , class: 'icon' ) %>
          <h3>Promote Growth</h3>
        </div>
        <div class="icon-container">
          <%= image_tag('bag.png' , class: 'icon' ) %>
          <h3>Support Farmers</h3>
        </div>
        <div class="icon-container">
          <%= image_tag('mower.png' , class: 'icon' ) %>
          <h3>Enrich Soil</h3>
        </div>
      </div>
    </div>
    <!--right-->
    <div class="images-container">
      <div class="img-1">
        <%= image_tag('kobus.jpg', class: 'mission-image') %>
      </div>
      <div class="img-2">
        <%= image_tag('compost-01.jpg', class: 'mission-image') %>
      </div>
      <div class="img-3">
        <%= image_tag('compost-02.jpg', class: 'mission-image') %>
      </div>
    </div>
  </div>
</section>

<!--compost section -->

<section class="compost-section">
  <h1>Why We Compost</h1>
  <div class="content-wrapper">
    <div class="info-card-container">
      <div class="info-card">
        <div class="image-container">
          <div class="overlay"></div>
          <%= image_tag('compost-s-1.png', class: 'compost-image') %>
        </div>
        <h3>Reduce Landfill Waste</h3>
        <p>Composting helps divert organic waste from landfills, reducing methane emissions and conserving space.</p>
      </div>
      <div class="info-card">
        <div class="image-container">
          <div class="overlay"></div>
          <%= image_tag('compost-s-2.png', class: 'compost-image') %>
        </div>
        <h3>Enhance Soil Health</h3>
        <p>Compost enriches soil, promoting healthier plant growth and improving water retention.</p>
      </div>
      <div class="info-card">
        <div class="image-container">
          <div class="overlay"></div>
          <%= image_tag('compost-s-3.png', class: 'compost-image') %>
        </div>
        <h3>Support Local Agriculture</h3>
        <p>Our compost is donated to local farmers, helping to sustain and enhance agricultural practices.</p>
      </div>
    </div>
  </div>
</section>

<!--testimonial section-->

<section class="testimonial-section">
  <h1>Testimonials</h1>
  <div class="content-wrapper">
    <div class="testimonials-container">
      <div class="testimonial-card">
        <p>"We love composting our waste, and Alfred is the sweetest man."</p>
        <!--<div class="testimonial-image">-->
          <%#= image_tag('gooi_logo_CR.png') %>
        <!--</div>-->
        <!--<h4>Jane Doe</h4>-->
      </div>
      <div class="testimonial-card">
        <p>"It's been so helpful and has really made composting so much easier and more convenient!"</p>
        <!--<div class="testimonial-image">-->
          <%#= image_tag('gooi_logo_CR.png') %>
        <!--</div>-->
        <!--<h4>John Smith</h4>-->
      </div>
      <div class="testimonial-card">
        <p>"Alfred is always on time and always so kind and with a happy smile."</p>
        <!--<div class="testimonial-image">-->
          <%#= image_tag('gooi_logo_CR.png') %>
        <!--</div>-->
        <!--<h4>Alex Johnson</h4>-->
      </div>
    </div>
  </div>
</section>

<!-- What is compostable -->
<section class="compostable-section">
  <h1>What is compostable</h1>
  <div class="content-wrapper">
    <div class="compostable-container">
      <div class="compostable-card">
        <%= image_tag('tomatoes.svg') %>
        <p>Tomatoes</p>
      </div>
            <div class="compostable-card">
        <%= image_tag('carrots.svg') %>
        <p>Carrots</p>
      </div>
            <div class="compostable-card">
        <%= image_tag('potatoes.svg') %>
        <p>Potatoes</p>
      </div>
            <div class="compostable-card">
        <%= image_tag('ladyfingers.svg') %>
        <p>Ladyfingers</p>
      </div>
    </div>
  </div>

</section>



<!--PREFERED CONTENT FOR COMPOSTABLE SECTION-->
<!--Item: fruit-veg.svg
Title: Fruit and Vegetable Scraps
Description: All fruit and vegetable scraps are compostable.

Item: coffee-tea.svg
Title: Coffee Grounds and Tea Bags
Description: Used coffee grounds and paper tea bags are great for composting and add valuable nitrogen.

Item: eggshells.svg
Title: Eggshells
Description: Eggshells provide calcium to compost, crushing them helps for faster decomposition.

Item: garden-waste.svg
Title: Garden Waste
Description: Green garden waste is ideal for composting, but avoid large branches or diseased plants.

Item: paper-products.svg
Title: Paper Products
Description: Only uncoated paper and cardboard should be composted. Avoid glossy or colored paper.

Item: food-scraps.svg
Title: Food Scraps (Non-dairy and Non-meat)
Description: These items are compostable but avoid composting meat, dairy, and oily foods as they attract pests and decompose slowly.

Item: yard-trimmings.svg
Title: Yard Trimmings
Description: These items are compostable but may take longer to break down. Shredding them first helps.

Item: natural-fibers.svg
Title: Natural Fibers
Description: Natural fibers like cotton and wool can be composted. Ensure they are not dyed or treated with chemicals.
-->
