<div class="user-wrapper">
  <div  data-controller="toggle">
    <% if @subscription.street_address == "" %>
      <h2>We seem to be missing some of your details</h2>
      <p>Please update your subscription so we can get you gooiing!</p>
      <%= link_to "update subscription", edit_subscription_path(@subscription) %>
    <% elsif @unpaid_invoice %>
      <h2>You have an unpaid invoice</h2>
      <p>Please settle your account to continue gooiing</p>
      <%= link_to "view invoice", invoice_path(@unpaid_invoice) %>
    <% else %>
      <% if @next_collection&.skip %>
        <div class="text-center">
          <h2>Upcoming Collection</h2>
          <p class="mb-3">Alfred will skip you <%= Date.today.wday < 5 ? "this" : "next" %> week</p>
          <%= button_to "Unskip Me!", unpause_subscription_path(@subscription), class: "submit-btn", data: {turbo: false}  %>
        </div>
      <% elsif @subscription.is_new_customer %>
        <div class="text-center contact-section">
          <h3>Get Ready to Start Gooiing!</h3>
          <div class="contact-links">
            <!--  <p>-->
            <%#= link_to "Add to Contacts (VCF)", "/alfred_contact.vcf", class: "btn btn-outline-secondary", download: "AlfredGooiingContact.vcf" %>
            <!--    </p>-->
            <p class="mb-3">Alfred will deliver your starter kit <%= Date.today.wday < 5 ? "this" : "next" %> week.</p>
            <p>Please add us to your contacts list and feel free to get in touch with any comments or questions.</p>
            <p class="my-2 link-decoration align-center">
              <%= link_to "https://wa.me/27785325513?text=I%27m+ready+to+start+gooiing",
                   target: "_blank" do %>
                <i class="fa-brands fa-whatsapp"></i>
                Start the conversation
              <% end %>
            </p>
            <!--   <p>
              <a href="tel:+27785325513" class="btn btn-outline-primary">
                <i class="fa-solid fa-phone"></i> Call Alfred
              </a>
            </p>-->
          </div>
        </div>
      <% else %>
        <% if @next_collection %>
          <% if @next_collection.date >= Date.today %>
            <p class="text-center mb-3">Your next collection is on <%= @subscription.collections&.last.date&.strftime("%A %d %B") %></p>
          <% else %>
            <p class="text-center mb-3">Your last collection was on <%= @subscription.collections&.last.date&.strftime("%A %d %B") %></p>
          <% end %>
          <div class="text-center">
            <% if @next_collection.needs_bags.to_i > 0 %>
              <p class="fs-6 mb-3">Want Alfred to bring you another roll of bonnie bio bags?</p>
            <% else %>
              <p class="fs-6 mb-3">Want Alfred to bring you a roll of bonnie bio bags?</p>
            <% end %>
            <div class="container-flex justify-content-center">
              <%= button_to "-", remove_bags_collection_path(@subscription.collections&.last), class: "submit-btn-circle", data: {turbo: false} %>
              <p class="text-center mx-3"><%= @subscription.collections&.last&.needs_bags %></p>
              <%= button_to "+", add_bags_collection_path(@subscription.collections&.last), class: "submit-btn-circle", data: {turbo: false} %>
            </div>
            <p class="text-center mt-2">rolls of bags</p>
            <% if @next_collection && @subscription.collections&.last.needs_bags.to_i > 0 %>
              <p class="mt-2">generate an invoice and <%= link_to 'pay now', bag_invoices_path(@subscription.collections&.last.needs_bags) %> via snapscan</p>
            <% end %>
            <div class="d-flex justify-content-evenly mt-3">
              <button class="submit-btn align-self-start" data-action="toggle#fire" data-toggle-target="button">Add Note</button>
              <%= button_to "Skip me", pause_subscription_path(@subscription), class: "submit-btn align-self-start", data: {turbo: false} %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% unless @subscription.collections.empty? %>
        <div data-toggle-target="form" class="d-none mt-3">
          <%= simple_form_for @subscription.collections&.last, url: add_customer_note_collection_path(@subscription.collections&.last), method: :post do |f| %>
            <%= f.input :customer_note, value: @subscription.collections&.last.customer_note, label: false %>
            <%= f.button :submit, "Add Note", class: "submit-btn w-100 p"  %>
          <% end %>
        </div>
      <% end %>
      <div class="mt-4 container-flex flex-column text-center align-items-center">
        <% if @days_left %>
          <p>Your subscription will come to an end in <%= pluralize((@days_left/4.2).ceil, 'month') %> (<%= @days_left %> pick ups).</p>
          <% if @days_left < 2 %>
            <%= link_to "Resubscribe", new_subscription_path, class: "submit-btn mt-2 w-50" %>
          <% end %>
        <% end %>
      </div>
      <div class="user-holiday-container" data-controller="toggle">
        <% if @subscription.holiday_end < Date.today %>
          <h2>Need to skip more than one week?</h2>
          <button class="submit-btn mt-3" data-action="toggle#fire" data-toggle-target="button">Plan a Holiday</button>
          <div class="card-white d-none" data-toggle-target="form">
            <h2>Plan a holiday</h2>
            <%= simple_form_for @subscription do |f| %>
              <%= f.input :holiday_start,
                          as: :string,
                          input_html: { data: { controller: "datepicker" } }, label: "start:" %>
              <%= f.input :holiday_end,
                          as: :string,
                          input_html: { data: { controller: "datepicker" } }, label: "end:" %>
              <%= f.submit "save", class: "submit-btn" %>
            <% end %>
          </div>
        <% else %>
          <h2>Upcoming Holiday</h2>
          <div class="mt-4 container-flex flex-column">
            <p><%= @subscription.holiday_start.strftime("%a %d %b") %> - <%= @subscription.holiday_end.strftime("%a %d %b") %></p>
            <%= button_to "Cancel", clear_holiday_subscription_path(@subscription), class: "submit-btn mt-2", data: {turbo: false} %>
          </div>
        <% end %>
        <div class="collections-carousel">
          <h2 class="text-center">Past Collections</h2>
          <% if @all_collections.any? %>
            <%= render "past_collections", collections: @all_collections %>
          <% else %>
            <p class="text-center">You haven't had any collections yet</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
