<div class="user-wrapper">
  <div  data-controller="toggle">
    <% if @subscription.street_address == "" %>
      <h2>We seem to be missing some of your details</h2>
      <p>Please update your subscription so we can get you gooiing!</p>
      <%= link_to "update subscription", edit_subscription_path(@subscription) %>
    <% elsif @unpaid_invoice %>
      <h2>You have an unpaid invoice</h2>
      <p>Please settle your account to continue gooiing</p>
      <%= link_to "view invoice", invoice_path(@unpaid_invoice) %>
    <% else %>
      <% if @subscription.is_paused? %>
        <div class="text-center">
          <h2>Upcoming Collection</h2>
          <p class="mb-3">Alfred will skip you <%= Date.today.wday > 5 ? "this" : "next" %> week</p>
          <%= button_to "Unskip Me!", unpause_subscription_path(@subscription), class: "submit-btn", data: {turbo: false}  %>
        </div>
      <% elsif @subscription.is_new_customer %>
        <div class="text-center">
          <h3>get ready to start gooiing!</h3>
          <p>Please add us to your contacts list and feel free to get in touch with any comments or questions.</p>
          <p class="mb-3">Alfred will deliver your starter kit <%= Date.today.wday > 5 ? "this" : "next" %> week.</p>
          <%= link_to "https://wa.me/+27785325513", class: 'icon-link', target: '_blank' do %>
            <i class="fa-brands fa-whatsapp"></i>
          <% end %>
        </div>
      <% else %>
        <% if @subscription.collections.any? %>
          <% if @subscription.collections.last.date >= Date.today %>
            <p class="text-center mb-3">Your next collection is on <%= @subscription.collections.last.date&.strftime("%A %d %B") %></p>
          <% else %>
            <p class="text-center mb-3">Your last collection was on <%= @subscription.collections.last.date&.strftime("%A %d %B") %></p>
          <% end %>
          <div class="text-center">
            <div class="container-flex justify-content-center">
              <%= button_to "-", remove_bags_collection_path(@subscription.collections.last), class: "submit-btn-circle", data: {turbo: false} %>
              <p class="text-center mx-3"><%= @subscription.collections.last.needs_bags %></p>
              <%= button_to "+", add_bags_collection_path(@subscription.collections.last), class: "submit-btn-circle", data: {turbo: false} %>
            </div>
            <p class="text-center">bags</p>
            <div class="container-flex mt-3">
              <button class="submit-btn align-self-start" data-action="toggle#fire" data-toggle-target="button">Add Note</button>
              <%= button_to "Skip me", pause_subscription_path(@subscription), class: "submit-btn align-self-start", data: {turbo: false} %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% unless @subscription.collections.empty? %>
        <div data-toggle-target="form" class="d-none mt-3">
          <%= simple_form_for @subscription.collections.last, url: add_customer_note_collection_path(@subscription.collections.last), method: :post do |f| %>
            <%= f.input :customer_note, value: @subscription.collections.last.customer_note, label: false %>
            <%= f.button :submit, "Add Note", class: "submit-btn w-100 p"  %>
          <% end %>
        </div>
      <% end %>
      <% if @days_left < 2 %>
        <div class="mt-4 container-flex flex-column text-center align-items-center">
          <p>Your subscription will come to an end in <%= pluralize(@days_left, 'week') %>.</p>
          <%= link_to "Resubscribe", new_subscription_path, class: "submit-btn mt-2 w-50" %>
        </div>
      <% end %>
      <div class="user-holiday-container" data-controller="toggle">
        <% if @subscription.holiday_end < Date.today %>
          <h2>Need to skip more than one week?</h2>
          <button class="submit-btn mt-3" data-action="toggle#fire" data-toggle-target="button">Plan a Holiday</button>
          <div class="card-white d-none" data-toggle-target="form">
            <h2>Plan a holiday</h2>
            <%= simple_form_for @subscription do |f| %>
              <%= f.input :holiday_start,
            as: :string,
            input_html: { data: { controller: "datepicker" } }, label: "start:" %>
              <%= f.input :holiday_end,
            as: :string,
            input_html: { data: { controller: "datepicker" } }, label: "end:" %>
              <%= f.submit "save", class: "submit-btn" %>
            <% end %>
          </div>
        <% else %>
          <h2>Upcoming Holiday</h2>
          <div class="mt-4 container-flex flex-column">
            <p><%= @subscription.holiday_start.strftime("%a %d %b") %> - <%= @subscription.holiday_end.strftime("%a %d %b") %></p>
            <%= button_to "Cancel", clear_holiday_subscription_path(@subscription), class: "submit-btn mt-2", data: {turbo: false} %>
          </div>
        <% end %>
        <div class="collections-carousel">
          <h2 class="text-center">Past Collections</h2>
          <% if @all_collections.any? %>
            <%= render "past_collections", collections: @all_collections %>
          <% else %>
            <p class="text-center">You haven't had any collections yet</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
