<div class="user-wrapper">
  <h1 class="my-3 fs-1">Refer a friend!</h1>
  <h3 class="mb-1 text-center">Get R50 off your next subscription</h3>
  <h3 class="mb-1 text-center">for <em>each</em> person who uses</h3>
  <h3 class="text-center">your referral code.</h3>
  <p class="my-3 fs-2">Your code is:</p>
  <h1 class="fs-1 mb-3"><%= @referral_code %></h1>
  <div class="text-center my-4">
    <%#= link_to "Share on WhatsApp", @whatsapp_link, class: "btn btn-success fs-4 px-4 py-2", target: "_blank", rel: "noopener" %>
    <p><strong>Click the whatsapp icon below to share this message with your neighbours:</strong></p>
    <p>"<%= @message %>"</p>
    <%= link_to @whatsapp_link, target: "_blank" do %>
      <i class="fa-brands fa-whatsapp mt-3" style="font-size: 50px"></i>
    <% end %>
  </div>
  <% if @referral_count > 0 %>
    <p>So far <%= pluralize(@referral_count, 'person is', 'people are') %> gooiing with your help!</p>
    <ol>
      <% @referrals.each do |referral| %>
        <li class='fs-3'><%= referral.referee.first_name %></li>
      <% end %>
    </ol>
    <p>You get <strong>R<%= @referral_count * 50 %></strong> off your next gooi subscription</p>
  <% end %>
</div>

<div class="blog-call-to-action">
  <h3 class="text-center">Thank you for sharing!</h3>
  <h3 class="text-center">Together we can repair Cape Town's food system.</h3>
</div>
