<div class="gooi-container">
  <div class="outline">
    <h1 class="m-3"><%= @subscription.user.first_name %>'s Collections</h1>
    <div class="grid-container-sub-show">
      <div class="grid-header">
        <div class="grid-item "><strong>ID</strong></div>
        <div class="grid-item"><strong>DATE</strong></div>
        <% if @subscription.XL? || @subscription.Commercial? %>
          <div class="grid-item"><strong>BUCKETS</strong></div>
        <% else %>
          <div class="grid-item"><strong>BAGS</strong></div>
        <% end %>
        <div class="grid-item"><strong>KIKI:</strong></div>
        <div class="grid-item"><strong>ALFRED:</strong></div>
      </div>
      <% @collections.each do |collection| %>
        <div class="grid-row">
          <div class="grid-item grid-item-flexed"><%= collection.id %><%= link_to "edit", edit_collection_path(collection) %> <%= link_to "delete", collection_path(collection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
          <div class="grid-item"><%= collection.date&.strftime("%e %b %Y") %></div>
          <% if @subscription.XL? || @subscription.Commercial? %>
            <div class="grid-item"><%= collection.buckets %></div>
          <% else %>
            <div class="grid-item"><%= collection.bags %></div>
          <% end %>
          <div class="grid-item"><%= collection.kiki_note %></div>
          <div class="grid-item"><%= collection.alfred_message %></div>
        </div>
      <% end %>
    </div>
    <div class="outline">
      <%= link_to "home", root_path, class: "gooi-button" %>

    </div>
  </div>
</div>
