<div class="collection-container">
  <div class="collection-body">
    <div class="centre">
      <h1>Add some details to your subscription for <%= @subscription.user.first_name %></h1>
    </div>
    <%= simple_form_for(@subscription) do |f| %>
      <%= f.input :street_address %>
      <%= f.input :suburb %>
      <div class="centre">
        <%= f.button :submit, "Update Subscription", class: "gooi-submit-button" %>
      </div>
    <% end %>
  </div>
</div>
