<div class="user-wrapper">
  <h1 class="mb-3">Update your subscription</h1>
  <%= simple_form_for(@subscription) do |f| %>
    <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <%= f.input :suburb, collection: Subscription::SUBURBS, prompt: "Select a suburb" %>
      <%= f.input :apartment_unit_number, label: "Building name and unit number (if relevant)", placeholder: "e.g Unit 1 Garden View" %>
      <%= f.input :access_code, label: "Access code (if relevant)" %>
      <%= f.input :street_address, input_html: { data: { address_autocomplete_target: "address" },  class: "d-none"}, label_html: {class: "street-label"} %>
    </div>
    <% if current_user.admin? %>
      <%= f.input :customer_id %>
      <%= f.input :duration %>
      <%= f.input :start_date %>
      <%= f.input :collection_order %>
      <%= f.input :status, collection: Subscription.statuses.keys, include_blank: false %>
      <%= f.input :is_paused %>
      <%= f.input :collection_day, as: :select, collection: Date::DAYNAMES.map { |day| [day, day] } %>
    <% end %>
    <div class="centre mt-3">
      <%= f.button :submit, "Update", class: "sign-up-btn" %>
    </div>
  <% end %>
  <% if current_user.admin? %>
    <p class="my-3">Click <%= link_to 'here', edit_admin_user_path(@subscription.user)  %> to edit the users name, email, or phone number</p>
  <% else %>
    <p class="my-3">Click <%= link_to 'here', edit_user_registration_path  %> to edit your name, email, or phone number</p>
  <% end %>
</div>
