<div class="gooi-container">
  <div class="outline">
    <div>
      <div class="d-flex justify-content-around mb-3">
        <%= link_to "Pending", pending_subscriptions_path, class: "btn-today-green" %>
        <%= link_to "Active", subscriptions_path, class: "btn-today-green" %>
        <%= link_to "All", all_subscriptions_path, class: "btn-today-green" %>
        <%= link_to "Completed", completed_subscriptions_path, class: "btn-today-green" %>
        <%= link_to "Paused", paused_subscriptions_path, class: "btn-today-green" %>
        <%= link_to "Legacy", legacy_subscriptions_path, class: "btn-today-green" %>
      </div>
      <br>
      <h1>All Subscriptions</h1>
      <br>
      <%= link_to "Export CSV", export_subscriptions_path, class: "btn-today-green" %>
      <br>
      <br>
      <% sort_arrow = ->(col) { @sort == col ? (@dir == "asc" ? " ↑" : " ↓") : "" } %>
      <% sort_href  = ->(col) { subscriptions_path(sort: col, dir: (@sort == col && @dir == "asc") ? "desc" : "asc") } %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Customer ID</th>
            <th scope="col"><%= link_to "Name#{sort_arrow.("name")}", sort_href.("name"), class: "link-green" %></th>
            <th scope="col"><%= link_to "Start Date#{sort_arrow.("start_date")}", sort_href.("start_date"), class: "link-green" %></th>
            <th scope="col"><%= link_to "Duration#{sort_arrow.("duration")}", sort_href.("duration"), class: "link-green" %></th>
            <th scope="col"><%= link_to "Total Collections#{sort_arrow.("total_collections")}", sort_href.("total_collections"), class: "link-green" %></th>
            <th scope="col"><%= link_to "Remaining#{sort_arrow.("remaining_collections")}", sort_href.("remaining_collections"), class: "link-green" %></th>
            <th scope="col"><%= link_to "Suburb#{sort_arrow.("suburb")}", sort_href.("suburb"), class: "link-green" %></th>
            <th scope="col"><%= link_to "Plan#{sort_arrow.("plan")}", sort_href.("plan"), class: "link-green" %></th>
            <th scope="col"><%= link_to "Day#{sort_arrow.("collection_day")}", sort_href.("collection_day"), class: "link-green" %></th>
          </tr>
        </thead>
        <tbody>
          <% @subscriptions.each do |subscription| %>
            <% overdue = subscription.remaining_collections.present? && subscription.remaining_collections < 1 %>
            <tr class="<%= 'text-muted' if subscription.completed? %>">
              <td><%= subscription.customer_id %></td>
              <td>
                <%= link_to subscription.display_name, admin_subscription_path(subscription), class: "link-green" %>
              </td>
              <td><%= subscription.start_date&.strftime('%e %b %Y') %></td>
              <td><%= subscription.duration %></td>
              <td><%= subscription.total_collections %></td>
              <td>
                <% if overdue %>
                  <span style="color: #bc4749;"><%= subscription.remaining_collections.to_i %></span>
                  <%= link_to "WhatsApp", subscription.user.whatsapp_notification_link, target: "_blank", class: "btn-today-green" if subscription.user.whatsapp_notification_link %>
                <% else %>
                  <%= subscription.remaining_collections&.to_i %>
                <% end %>
              </td>
              <td><%= subscription.suburb %></td>
              <td><%= subscription.plan %></td>
              <td><%= subscription.collection_day %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-around">
      <%= link_to "Export Active CSV", export_subscriptions_path, class: "btn-today-green" %>
      <%= link_to "Update End Dates", update_end_date_subscriptions_path, class: "btn-today-green" %>
    </div>
  </div>
</div>
