<div class="user-wrapper">
  <div class="collection-body">
    <h1 class= "collection-header">Pick a subscription option</h1>
    <% if current_user.admin? %>
      <%= simple_form_for(@subscription) do |f| %>
        <%= f.input :customer_id %>
        <%= f.input :street_address, class: 'form-styling' %>
        <%= f.input :suburb %>
        <%= f.input :collection_day, as: :select, collection: Subscription.collection_days.keys.to_a %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :access_code %>
        <%= f.input :plan, label: "Choose a plan", collection: Subscription.humanized_plans.keys, include_blank: false, label_method: lambda { |key| Subscription.humanized_plans[key] } %>
        <%= f.input :duration, collection: %w[1 3 6] %>
        <%= f.button :submit, class:'gooi-button' %>
      <% end %>
    <% else %>
      <section>
        <div class="subscription-rates-update">
          <div class="standard-months-container">
            <h2 >Standard Subscriptions</h2>
            <% if current_user.total_collections > 1 %>
              <p>As an Original Gooier you get our special price if you sign up for six month</p>
              <div class="month-card">
                <p>6 month OG</p>
                <h3 class="pricing-text mt-2"><strong>R720</strong></h3>
                <p class="pricing-text">R120 per month</p>
                <div>
                  <br>
                  <%= button_to 'Select', subscriptions_path,
               params: { subscription: { plan: 'Standard', duration: '6'}, og: true, new: false  },
               method: :post,
               class: "sign-up-btn" %>
                </div>
              </div>
              <p>Or...</p>
            <% end %>
            <p>Pick a duration for a weekly pick up of 1-2 bags of compostable waste</p>
            <div class="month-card">
              <p>1 month</p>
              <h3 class="pricing-text mt-2"><strong>R260</strong></h3>
              <p class="pricing-text">R260 per month</p>
              <div>
                <br>
                <%= button_to 'Select', subscriptions_path,
               params: { subscription: { plan: 'Standard', duration: '1' }, og: false, new: false },
               method: :post,
               class: "sign-up-btn" %>
              </div>
            </div>
            <div class="month-card">
              <p>3 months</p>
              <h3 class="pricing-text mt-2"><strong>R660</strong></h3>
              <p class="pricing-text">R220 per month</p>
              <div>
                <br>
                <%= button_to 'Select', subscriptions_path,
               params: {subscription: { plan: 'Standard', duration: '3' }, og: false, new: false }, method: :post, class: "sign-up-btn"  %>
              </div>
            </div>
            <div class="month-card popular">
              <h4>Most popular</h4>
              <p>6 months</p>
              <h3 class="pricing-text mt-2"><strong>R1080</strong></h3>
              <p class="pricing-text">R180 per month</p>
              <div>
                <br>
                <%= button_to 'Select', subscriptions_path,
               params: {subscription: { plan: 'Standard', duration: '6' }, og: false, new: false }, method: :post, class: "sign-up-btn"  %>
              </div>
            </div>
          </div>
          <h2>XL Subscriptions</h2>
          <p>Pick a duration for a weekly pick up of 1 large bucket of compostable waste</p>
          <div class="standard-months-container">
            <div class="month-card">
              <p>1 month</p>
              <h3 class="pricing-text mt-2"><strong>R300</strong></h3>
              <p class="pricing-text">R300 per month</p>
              <div>
                <br>
                <%= button_to 'Select', subscriptions_path,
               params: {subscription: { plan: 'XL', duration: '1' }, og: false, new: false }, method: :post, class: "sign-up-btn"  %>
              </div>
            </div>
            <div class="month-card">
              <p>3 months</p>
              <h3 class="pricing-text mt-2"><strong>R810</strong></h3>
              <p class="pricing-text">R270 per month</p>
              <div>
                <br>
                <%= button_to 'Select', subscriptions_path,
               params: {subscription: { plan: 'XL', duration: '3'}, og: false, new: false }, method: :post, class: "sign-up-btn"  %>
              </div>
            </div>
            <div class="month-card">
              <p>6 months</p>
              <h3 class="pricing-text mt-2"><strong>R1440</strong></h3>
              <p class="pricing-text">R240 per month</p>
              <div>
                <br>
                <%= button_to 'Select', subscriptions_path,
               params: {subscription: { plan: 'XL', duration: '6'}, og: false, new: false }, method: :post, class: "sign-up-btn"  %>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
