<div class="gooi-container">
  <div class="outline">
    <div>
      <div>
        <h1><%= @subscription.user.first_name %>'s <%= @subscription.completed? ? 'Completed' : "" %> Subscription</h1>
        <!--<h3>start: <%#= @subscription.start_date&.strftime('%b %d') %></h3>-->
      </div>
      <div>
        <p>Plan: <%= @subscription.plan %></p>
        <% if @subscription.Commercial? %>
          <p>Buckets per collection: <%= @subscription.buckets_per_collection %> × 45L</p>
        <% end %>
        <p>Start Date: <%= @subscription.start_date&.strftime('%d %b, %Y') || "still pending" %></p>
        <p>End Date: <%= @subscription.end_date&.strftime('%d %b, %Y') || "still pending"  %></p>
        <p>Collection Day: <%= @subscription.collection_day %></p>
        <p>Address: <%= @subscription.street_address %></p>
        <p>Collection Order: <%= @subscription.collection_order %></p>
        <p>Ave Collection Time: <%= @avg_collection_time %></p>

        <p>Phone number: <%= @subscription.user.phone_number %></p>

        <p>Holiday: <%= @subscription.holiday_start&.strftime('%d %b') %> - <%= @subscription.holiday_end&.strftime('%d %b') %></p>
        <strong><p class="mt-3">Referral code: <%= @subscription.user.referral_code %></p></strong>

      </div>
      <div>
        <br>
        <h2>Invoices</h2>
        <% if @subscription.monthly_invoicing? %>
          <div class="mb-3 p-3 bg-light rounded">
            <h5>Contract Progress</h5>
            <div class="progress mb-2" style="height: 25px;">
              <div class="progress-bar" role="progressbar"
                   style="width: <%= @subscription.invoicing_progress_percentage %>%;"
                   aria-valuenow="<%= @subscription.invoicing_progress_percentage %>"
                   aria-valuemin="0"
                   aria-valuemax="100">
                <%= @subscription.invoicing_progress_percentage %>%
              </div>
            </div>
            <p><strong>Contract Total:</strong> R<%= number_with_delimiter(@subscription.contract_total) %></p>
            <p><strong>Invoiced to Date:</strong> R<%= number_with_delimiter(@subscription.amount_invoiced) %></p>
            <p><strong>Remaining:</strong> R<%= number_with_delimiter(@subscription.amount_remaining) %></p>
          </div>
        <% end %>
        <% @subscription.invoices.each do |invoice| %>
          <%= link_to "id. #{invoice.id} - R#{invoice.total_amount}", invoice_path(invoice)  %>
        <% end %>
        <br>
        <h2 class="mt-2">Summary</h2>
        <p>Total collections: <%= @total_collections %></p>
        <p>Skipped collections: <%= @skipped_collections %></p>
        <% if @subscription.XL? || @subscription.Commercial? %>
          <p>Total Buckets: <%= @total_buckets %></p>
          <p>Buckets in the Last Month: <%= @buckets_last_month %></p>
          <p>Buckets in the Last 3 Months: <%= @buckets_last_three_months %> ~ ave: <%= @buckets_last_three_months/3 %></p>
          <p>Buckets in the Last 6 Months: <%= @buckets_last_six_months %> ~ ave: <%= @buckets_last_six_months/6  %> </p>
        <% else %>
          <p>Total Bags: <%= @total_bags %></p>
          <p>Bags in the Last Month: <%= @bags_last_month %></p>
          <p>Bags in the Last 3 Months: <%= @bags_last_three_months %> ~ ave: <%= @bags_last_three_months/3 %></p>
          <p>Bags in the Last 6 Months: <%= @bags_last_six_months %>~ ave: <%= @bags_last_six_months/6  %> </p>
        <% end %>
      </div>
      <br>
      <%= link_to "Create new collection", new_subscription_collection_path(@subscription) %>
      <br>
      <%= link_to "Edit this subscription", edit_subscription_path(@subscription) %>
      <br>
      <%= link_to "View all collections", subscription_collections_path(@subscription) %>
      <br>
      <br>
      <% unless @subscription.completed? %>
        <%= link_to "mark complete", complete_subscription_path(@subscription), class: 'small-yellow-btn' %>
      <% else %>
        <%= link_to "latest subscription", subscription_path(@next_subscription)  %>
      <% end %>
      <br>
    </div>
    <div class="outline">
      <%= link_to "#{@subscription.user.first_name}'s subs", admin_user_path(@subscription.user) %>
      <br>
      <%= link_to "All Subscriptions", subscriptions_path %>
    </div>
  </div>
</div>
