<div class="gooi-container">
  <div class="outline">
    <div>
      <h1><%= @subscription.user.first_name %>'s Subscription</h1>
      <div class="outline">
        <div>
          <p>Plan: <%= Subscription.humanized_plans[@subscription.plan.to_sym] %></p>
          <!--<p>Start date: <%#= @subscription.start_date.strftime('%d %b, %Y') %></p>-->
          <p>Collection day: <%= @subscription.collection_day %></p>
          <p>Address: <%= @subscription.street_address %></p>
          <p>Collection Order: <%= @subscription.collection_order %></p>

          <%= link_to "Create new collection", new_subscription_collection_path(@subscription) %>
          <br>
          <%= link_to "Edit this subscription", edit_subscription_path(@subscription) %>
        </div>
      </div>
      <br>
      <div class="gooi-container">
  <div class="outline">
      <h1><%= @subscription.user.first_name %>'s Collections</h1>
    <div class="grid-container-sub-show">
      <div class="grid-header">
        <div class="grid-item"><strong>ID</strong></div>
        <div class="grid-item"><strong>DATE</strong></div>

        <% if @subscription.XL? %>
          <div class="grid-item"><strong>BUCKETS</strong></div>
        <% else %>
          <div class="grid-item"><strong>BAGS</strong></div>
        <% end %>
          <div class="grid-item"><strong>KIKI:</strong></div>
          <div class="grid-item"><strong>ALFRED:</strong></div>

      </div>
      <% @collections.each do |collection| %>
        <div class="grid-row">
          <div class="grid-item"><%= link_to collection.id, edit_collection_path(collection) %> <%= link_to "delete", delete_collection_path(collection) %></div>
          <div class="grid-item"><%= collection.date&.strftime("%e %b %Y %H:%M:%S%p") %></div>
            <% if @subscription.XL? %>
              <div class="grid-item">Buckets: <%= collection.buckets %></div>
            <% else %>
              <div class="grid-item">Bags: <%= collection.bags %></div>
            <% end %>
              <div class="grid-item"><%= collection.kiki_note %></div>
              <div class="grid-item"><%= collection.alfred_message %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

        <div class="outline">
          </div>
        <% end %>
        <div class="outline">
          <%= link_to "All Subscriptions", subscriptions_path %>
        </div>
      </div>
    </div>
  </div>
