<div class="driver-wrapper">
  <div class="collection-header">
    <p>Name</p>
    <p>Address</p>
    <p>Collect</p>
  </div>
  <div class="collections">
    <% @collections.each do |collection| %>
      <div class="collection">
        <div class="car">
          <p class="emoji"><%= link_to "🚗", "https://wa.me/#{collection.subscription.user.phone_number}?text=Hello!%20I%27m%20on%20my%20way", target: :_blank %></p>
          <p><%= link_to collection.subscription.user.first_name, subscription_path(collection.subscription) %></p>
        </div>
        <p><%= link_to collection.subscription.street_address&.truncate(35), "https://maps.google.com/?q=#{collection.subscription.street_address}", target: :_blank %></p>
        <div class="bag">
          <% if collection.skip %>
            <p><%= link_to "skip", edit_collection_path(collection), class: "small-yellow-btn" %></p>
          <% else %>
            <% if collection.bags. >= 1 %>
              <p><%= link_to "#{pluralize(collection.bags, 'bag')}", edit_collection_path(collection), class: "small-yellow-btn" %></p>
            <% else %>
            <!--<p><%#= collection.subscription.collection_day %></p>-->
              <p><%= link_to "collect", edit_collection_path(collection), class: "small-yellow-btn" %></p>
            <% end %>
            <!--<p class="emoji"><%#= link_to "👜", "https://wa.me/#{collection.subscription.user.phone_number}?text=Hello!%20I%27m%20on%20my%20way", target: :_blank %></p>-->
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
