<!--ALFREDS PAGE-->
<div class="driver-wrapper">
  <div class="collection-header">
    <div class="name">
      <p>Name</p>
    </div>
    <div class="bag">
      <p>Collect</p>
    </div>
    <div class="address">
      <p>Address</p>
    </div>
    <p>Message</p>
  </div>
  <div class="collections"  >
    <%#= button_to 'Reset Collection Order', reset_order_drivers_day_collections_path(@drivers_day), method: :post, class: "btn btn-warning", data: { turbo: false } %>
    <!--<ul data-controller="sortable">-->
    <ul>
      <% @collections.each do |collection| %>
        <li class="collection" data-sortable-url="<%= update_position_collection_path(collection) %>"
        data-sortable-handle
        class="sortable-item">
          <div class="name">
            <p><%= link_to collection.subscription.user.first_name.truncate(13), subscription_path(collection.subscription) %></p>
            <% if current_user.admin? %>
              <p><%= link_to 'X', collection_path(collection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
            <% end %>
          </div>
          <div class="bag">
            <% if collection.skip %>
              <%= link_to "skip", edit_collection_path(collection), class: "small-yellow-btn" %>
            <% else %>
              <% if collection.new_customer %>
                <%= link_to "Meet #{collection.subscription.user.first_name}", edit_collection_path(collection) , class: "small-yellow-btn"%>
              <% elsif collection.subscription.Standard? %>
                <%= link_to "#{pluralize(collection.bags, 'bag')}", edit_collection_path(collection), class: "small-yellow-btn" %>
              <% elsif collection.subscription.XL? %>
                <%= link_to "#{pluralize(collection.buckets, 'bucket')}", edit_collection_path(collection), class: "small-yellow-btn"  %>
              <% elsif collection.subscription.user.drop_off? %>
                <%= link_to "Drop off", edit_collection_path(collection) , class: "small-yellow-btn"%>
              <% else %>
                <%= link_to "collect", edit_collection_path(collection), class: "small-yellow-btn" %>
              <% end %>
            <% end %>
          </div>
          <div class="address">
            <%= link_to collection.subscription.street_address&.truncate(30), "https://maps.google.com/?q=#{collection.subscription.street_address}", target: :_blank %>
          </div>
          <div class="emojies">
            <p class="emoji"><%= link_to "ðŸš—", collection.subscription.user.generate_whatsapp_link("Hellow #{collection.user.first_name}. I am on my way!"), target: :_blank %></p>
            <p class="emoji"><%= link_to "ðŸ ", collection.subscription.user.generate_whatsapp_link("I am at your house."), target: :_blank %></p>
            <p class="emoji"><%= link_to "ðŸª´", collection.subscription.user.generate_whatsapp_link("Thank you #{collection.user.first_name}, I have got your bag. Hope you have a wonderful weekend."), target: :_blank %></p>
          </div>
        </li>
      <% end %>
    </ul>
    <!--</ul>-->
  </div>
  <div class="drivers-form">
    <% if current_user.admin? %>
      <%= link_to "NOTES", today_notes_path, class: "sign-up-btn mb-3" %>
      <%= link_to "END DAY", end_drivers_day_path(@drivers_day), class: "sign-up-btn" %>
    <% elsif current_user.driver? && @drivers_day.nil? %>
      <p><em>No collections without a driver</em></p>
    <% elsif current_user.driver? %>
      <%= link_to "END DAY", end_drivers_day_path(@drivers_day), class: "sign-up-btn" %>
    <% end %>
  </div>
</div>
