<div class="gooi-container">
  <% if @subscriptions.any? %>
    <div class="today-outline">
      <h1><%= @today %></h1>
      <div class="grid-container">
        <div class="grid-item"><strong>Name</strong></div>
        <div class="grid-item"><strong>Address</strong></div>
        <div class="grid-item"><strong>Collect</strong></div>
        <% @subscriptions.each do |subscription| %>
          <% today_collection = subscription.collections.find { |c| c.date && c.date == Date.today} %>
          <div class="grid-item">
            <% if today_collection&.skip %>
              <p>SKIP!</p>
            <% end %>
            <%= link_to subscription.user.first_name, subscription_path(subscription) %>
          </div>
          <div class="grid-item">
            <%= subscription.street_address&.truncate(25) %>
          </div>
          <div class="grid-item gooi-collect-button">
            <% if today_collection.nil? %>
              <%= link_to "Collect! from #{subscription.user.first_name}", new_subscription_collection_path(subscription) %>
            <% else %>
              <% if today_collection.skip %>
                <%= link_to "No Collection!", edit_collection_path(today_collection) %>
              <% elsif today_collection.bags.present? && today_collection.updated_at < Time.now %>
                <%= link_to "Got #{today_collection.bags} bags. Collect more?", edit_collection_path(today_collection) %>
              <% elsif today_collection.buckets.present? && today_collection.updated_at < Time.now %>
                <%= link_to "Got #{today_collection.buckets} buckets. Collect more?", edit_collection_path(today_collection) %>
              <% elsif today_collection.new_customer %>
                <%= link_to "DROP OFF", edit_collection_path(today_collection) %>
              <% else %>
                <%= link_to "Collect!", edit_collection_path(today_collection) %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="outline">
      <% if @drivers_day&.persisted? %>
        <%= link_to "ALL DONE", drop_off_drivers_day_path(@drivers_day), class: "gooi-button" %>
      <% else %>
        <p><em>No collections without a driver</em></p>
      <% end %>
    <% else %>
      <div class="outline">
        <h1>No collections for <%= @today %>.</h1>
        <p>yet...</p>
        <br>
        <%= link_to "go home", root_path, class: 'gooi-button' %>
      </div>
    </div>
  <% end %>
</div>
