<!-- app/views/admin/users/index.html.erb -->
<div class="gooi-container">
  <div class="outline">
    <div>
      <br>
      <h1>All Users</h1>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subscriptions</th>
            <th scope="col">Last Login</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <% name = (user.respond_to?(:full_name) && user.full_name.present?) ? user.full_name : [user.first_name, user.last_name].compact.join(" ") %>
                <%= user.og? ? '⭐️' : '' %>
                <%= link_to name.presence || user.email, admin_user_path(user), class: "link-green" %>
              </td>
              <td><%= user.email %></td>
              <td><%= link_to "#{user.subscriptions.size} subs", admin_user_path(user), class: "btn-today-green"  %></td>
              <td><%= user.last_sign_in_at ? l(user.last_sign_in_at, format: :short) : "Never" %></td>
              <td><%= user.customer? ? user.subscriptions.last.status : 'none'  %></td>


            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
