<!DOCTYPE html>
<html>
  <head>
    <title>AlfredsGooi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!--<link rel="manifest" href="<%#= asset_path 'manifest.json' %>">-->
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%#= render 'shared/ios_pwa_links' %>
    <link rel="apple-touch-icon" href="<%= image_path 'icons/ios/180.png' %>">
    <link rel="apple-touch-startup-image" href="<%= image_path '/icons/ios/1024.png' %>">
  </head>
  <body class="background">
    <% if user_signed_in? %>
      <%if current_user.driver? %>
        <%= render "shared/driver_navbar" %>
      <% elsif current_user.admin? %>
        <%= render "shared/admin_navbar" %>
      <% else %>
        <%= render "shared/user_navbar" %>
      <%  end %>
    <% else %>
      <%= render "shared/new_navbar" %>
    <%  end %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
