<!DOCTYPE html>
<html>
  <head>
    <title>AlfredsGooi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
  </head>
  <body class="background">
    <% if user_signed_in? %>
      <%if current_user.driver? || current_user.admin?  %>
        <%= render "shared/driver_navbar" %>
      <% else %>
        <%= render "shared/new_navbar" %>
      <%  end %>
    <% else %>
      <%= render "shared/new_navbar" %>
    <%  end %>
    <%#= render_navbar %>
    <%#= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
